{% macro render_blog(post) %}
<div class="post">
    <div class="post-url">
        <a href="{{ post|url }}">
            {% if post.children.include_undiscoverable(True) %}
                Series: 
            {% endif %}
            {{ post.title }}
        </a>
        {% if post.children.include_undiscoverable(True) %}
            <div class="post-children">
                Parts
                <ul>
                    {% for child in post.children.include_undiscoverable(True) %}
                        <li>
                            {% if child.is_undiscoverable %}
                                {{child.part}}
                            {% else %}
                                <a href="{{child|url}}" title="{{child.title}}">{{ child.part }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif%}
    </div>
    <div class="post-date">{{post.pub_date}}</div>
</div>
{% endmacro %}