{% macro render_post_list(posts, label_name) %}
  <ol>
  {% for post in posts %}
    <li>
        <a href="{{ post|url }}">{{ post.title }}</a>
      {% if post.children %}
        <ol>
          {% for child in post.children.filter(F.labels.contains(label_name|lower)) %}
              <li><a href="{{child|url}}">{{ child.title }}</a> (part {{child.part}} of {{child.parent.children.count()}})</li>
          {% endfor %}
        </ol>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
{% endmacro %}

{% macro render_label_nav() %}
  <div class="post-labels all-labels">
    <ul>
    {% for label in site.query('/blog-labels') %}
      <li><a href="{{ label|url }}">{{ label.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
{% endmacro %}