{% macro render_blog_post(post) %}
<article class="post">
        <div class="post-title">
            <h1>
                {% if post.children.include_undiscoverable(True) %}
                    Series: 
                {% endif %}    
                {{ post.title }}
            </h1>
        </div>
        <div class="post-body">
        {% if post.parent.title != "Blog" %}
        {% set total_children = post.parent.children.include_undiscoverable(True).count() %}
        <div class="post-part">
            Part {{post.part}} of {{total_children}} of Series <a href="{{ post.parent|url }}">{{ post.parent.title }}</a>
        </div>
        {% endif %}
        <div class="post-body-inner">
            <div class="post-content">
                {{ post.body }}
            </div>
            {% if post.children.include_undiscoverable(True) %}
            <div class="post-children">
                Sub posts
                <ul>
                    {% for child in post.children.include_undiscoverable(True) %}
                        <li>
                            Part {{ child.part }}. 
                            {% if child.is_undiscoverable %}
                                {{child.title}}
                            {% else %}
                                <a href="{{child|url}}">{{ child.title }}</a>
                            {% endif %}
                            {% if child.metadesc %} - <span>{{child.metadesc}}</span>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif%}
        </div>
    </div>
    <div class="post-meta">
        <div class="post-date">Published: 
            <div>{{ post.pub_date }}</div>
            {%if post.last_updated_date%}Last updated:
            <div>{{ post.last_updated_date }}</div>{%endif%}
        </div>
        {%if post.labels %}
        <div class="post-labels">Labels:
            <ul>
                {% for label in post.labels %}
                <li>
                    <a href="/labels/{{label}}">{{label}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
    </div>
</article>
{% if post.get_siblings() %}
    <div class="post-nav">
        {% set siblings = post.get_siblings() %}
        <div class="left">
            {% if siblings.prev_page %}
            &#8592;<a href="{{ siblings.prev_page|url }}">{{siblings.prev_page.title}}</a>
            {% endif %}
        </div>
        <div class="right">
            {% if siblings.next_page %}
            <a href="{{ siblings.next_page|url }}">{{siblings.next_page.title}}</a>&#8594;
            {% endif %}
        </div>
    </div>
{% endif %}
{% endmacro %}