{% macro render_note(note, from_index=false) %}
<div class="note">
    {% if from_index %}
        <a href="{{ note|url }}">{{ note.title }}</a>
    {% else %}
        <div class="note-title">
            <h1>{{ note.title }}</h1>
            {{ note.description }}
        </div>
        <div class="note-meta">
            <h6>Last updated on {{ note.pub_date }}</h6>
        </div>
        <div class="note-body">
            <div class="post-body-inner">
                <div>
                    {{ note.body }}
                </div>
                {%if note.labels %}
                <div class="post-labels">Labels:
                    <ul>
                        {% for label in note.labels %}
                        <li>
                            <a href="/labels/{{label}}">{{label}}</a>{% if not loop.last and loop.length > 2%}, {%endif%}{%
                            if loop.revindex0 == 1 %} and {%endif%}</li>
                        {% endfor %}
                    </ul>
                </div>
                {%endif%}
            </div>
            <div class="post-nav">
                {% set siblings = note.get_siblings() %}
                <div class="left">
                    {% if siblings.prev_page %}
                    &#8592;<a href="{{ siblings.prev_page|url }}">{{siblings.prev_page.title}}</a>
                    {% endif %}
                </div>
                <div class="right">
                    {% if siblings.next_page %}
                    <a href="{{ siblings.next_page|url }}">{{siblings.next_page.title}}</a>&#8594;
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endmacro %}