{% macro render_pagination(pagination) %}
<div class="pagination">
  <div class="left">
    {% if pagination.has_prev %}
    <a href="{{ pagination.prev|url }}">&laquo; page {{ pagination.prev.page_num }}</a>
    {% else %}
    <span class="hide">&laquo; prev</span>
    {% endif %}
  </div>
  <div class="middle">
    {{ pagination.page }}
  </div>
  <div class="right">
    {% if pagination.has_next %}
    <a href="{{ pagination.next|url }}">page {{ pagination.next.page_num }} &raquo;</a>
    {% else %}
    <span class="hide">next &raquo;</span>
    {% endif %}
  </div>
</div>
{% endmacro %}