{% macro render_thought(thought, from_index=false) %}
<div class="post">
    <div class="post-title">
        {% if from_index %}
            <div class="post-title-date">
                <div>{{ thought.pub_date }}</div>
            </div>
            <div class="post-title-text"><a href="{{ thought|url }}">{{ thought.title }}</a></div>
        {% else %}
            <h2>{{ thought.title }}</h2>
        {% endif %}
    </div>
    <div class="post-body">
        {% if not from_index %}
            <div class="post-body-inner">
                {{ thought.body }}
            </div>
        {% endif %}
        {% if not from_index %}
            <div class="post-meta">
                Posted on: {{ thought.pub_date }}
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}
