{% extends "layout.html" %}
{% block title %}Page not found{% endblock %}
{% block head%}
  <link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
{% endblock %}
{% block body %}
<main id="maincontent" tabindex="-1">
    <div class="page">
        <h2>404</h2>
        <h3>Sorry! Nothing found at this location: <div style="display:inline;" class="not-found"></div></h3>
        <p>Perhaps you could find what you're looking for if you try one of the following links:
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/labels">Labels</a>
                </li>
                <li>
                    <a href="/sitemap.html">Sitemap</a>
                </li>
            </ul>
        </p>
        Search my site for "<div style="display:inline;" class="not-found"></div>":
        <p>
            <form id="ddg" name="x" action="//duckduckgo.com/">
                <input type="hidden" value="https://genekao.github.io/geneatcg/" name="sites"></input>
                <input type="hidden" value="1" name="kh"></input>
                <input type="hidden" value="1" name="kn"></input>
                <input type="hidden" value="1" name="kac"></input>
                <input type="search" placeholder="Search" name="q"></input>
                <button class="button" type="submit">Go</button>
            </form>
        </p>
        <script>
            var currentPage = window.location.pathname,
                el1 = document.getElementsByClassName("not-found")[0],
                el2 = document.getElementsByClassName("not-found")[1],
                search = document.getElementsByName("q")[0];
            el1.textContent = currentPage;
            search.value = decodeURIComponent(currentPage.replace(/[-\/]/g, ' ').trim());
            el2.textContent = search.value;
        </script>
    </div>
</main>
{% endblock %}