{% extends "layout.html" %}
{% from "macros/blog-labels.html" import render_post_list %}
{% block head%}
<link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
<style>
  .labels ol {counter-reset: item;} .labels li{display: block;margin:1em 0;} .labels li::before{content:counters(item, ".") " ";counter-increment: item;} .labels ol li a {display: inline;}
</style>
{%endblock%}
{% block title %}Label {{ this.name }} {{super.title}}{% endblock %}
{% block body %}
{% include 'header-main.html' %}
<main id="maincontent" tabindex="-1">
  <div class="page">
    <h2>Label: {{ this.name }}</h2>
    <div>{{this.description}}</div>
    <h3>Posts</h3>
    <div class="labels">
      {% if this.children %}
        {{ render_post_list(this.children, this.name) }}
      {%else%}
      <p>No posts in label {{this.name}} yet. May be there is a draft in the works.</p>
      {% endif %}
      <p>
        <a href="/labels">Show all labels</a>
      </p>
    </div>

  </div>
</main>
{% endblock %}