{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog %}
{% from "macros/pagination.html" import render_pagination %}
{% block head%}
  <link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
{%endblock%}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% include 'header-main.html' %}
<main id="maincontent" tabindex="-1">
  <div class="posts">
    {% for item in this.pagination.items %}
      {{ render_blog(item) }}
    {% endfor %}
  </div>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
</main>
{% endblock %}