{% extends "layout.html" %}
{% from "macros/blog-labels.html" import render_label_nav %}
{% block head%} 
  <link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
  <style>
    @media (min-width: 40.0rem) {
      .all-labels ul {margin: 0;padding: 0;list-style-type: none;}
      .all-labels ul li{display: inline-block; margin: 0 10px 0 0;}}
  </style>
{%endblock%}
{% block title %}Labels {{ super.title }}{% endblock %}
{% block body %}
{% include 'header-main.html' %}
<main id="maincontent" tabindex="-1">
  <div class="page">
    <h2>Labels</h2>
    {{ render_label_nav() }}
  </div>
</main>
{% endblock %}