{% extends "layout.html" %}
{% from "macros/blogpost.html" import render_blog_post %}
{% block head%}
<link rel="stylesheet" href="{{ '//static/post.min.css'| asseturl }}">
{%if this.styles %}
{% set items = this.styles %}
{%for item in items.0.split(',')%}
<link rel="stylesheet" href="{{'/static/css/'+item+''|asseturl}}">
{%endfor%}
{%endif%}
{%endblock%}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% include 'header-mini.html' %}
<main id="maincontent" tabindex="-1">
  {{ render_blog_post(this) }}
  {%if this.scripts %}
  {% set items = this.scripts %}
  {% for item in items.0.split(',') -%}
  <script src="{{'/static/js/'+item+''|asseturl}}"></script>
  {%-endfor%}
  {%endif%}
</main>
{% endblock %}