{% from "macros/drafts.html" import render_drafts %}
{% block head%}
  <style>body{font-size: 16px; font-family: monospace;} .drafts{margin: 0 auto;} .draft{margin: 10px 0; color: lightseagreen; } .old {color: sienna;} a{text-decoration: none; color: unset;}</style>
{%endblock%}
{% block body %}
  <h1>Drafts</h1>
  <div class="drafts">
    {% for child in this.pagination.items.include_undiscoverable(True) %}
      {{ render_drafts(child) }}
    {% endfor %}
  </div>
{% endblock %}
<script>
  var drafts = document.querySelectorAll('.draft');
  drafts.forEach(function(draft){
    var draftDate = draft.querySelector('.date').textContent;
    if(new Date(draftDate) < new Date())
      draft.classList.add('old');
  })
</script>