{% extends "layout.html" %} 
{% block head%}
<link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
<style>
  .modified-date {font-size: 16px; margin: 50px 0; }
</style>
{%endblock%}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% include 'header-main.html' %}
<main id="maincontent" tabindex="-1">
  <div class="page">
    <h2>{{ this.title }}</h2>
    <div class="post-body">
      <div class="post-body-inner">
        {{ this.body }}
      </div>
    </div>
    {% if this.modified_date %}
      <div class="modified-date">
        Last modified on {{ this.modified_date|dateformat('full') }}
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}