{% extends "layout.html" %}
{% block head%}
  <link rel="stylesheet" href="{{ '//static/site.min.css'| asseturl }}">
{%endblock%}
{% block title %}Sitemap{% endblock %}
{% block body %}
{% include 'header-main.html' %}
<main id="maincontent" tabindex="-1">
  <div class="page">
    <h2>Sitemap</h2>
    <ul class="sitemap">
      {% for page in [site.root] recursive %}
      <li><a href="{{ page|url }}">{{ page.record_label }}</a>
        {% if page.children %}
          <ul>{{ loop(page.children) }}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}