*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-width: 320px;
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 800px;
}

a {
    color: inherit;
    transition: color 0.2s
}

a:hover,
a:focus {
    color: royalblue;
}

p strong {
    font-size: 1.2em;
    display: block;
    margin-top: 50px;
    font-weight: normal;
    text-decoration: underline;
}

ul li {
    margin: 15px 0;
}

ul li:after {
    content: " "
}


h1 {
    font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

.embed {
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #ffffff;
}

[id^=JSFEMB] {
    min-height: 350px;
    height: calc(100vh - 100px);
}

:target {
    animation: highlight 5s ease;
}

@keyframes highlight {
    from {
        background: lightgoldenrodyellow;
    }

    to {
        background: white;
    }
}

.skiptocontent a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 14px;
    color: #444444;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

.skiptocontent a:focus,
.skiptocontent a:active {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
}

header,
main,
footer {
    padding: 10px;
}

main {
    outline: 0;
    word-wrap: anywhere;
}

header {
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #bff4fe;
}

header ul {
    padding: 0;
    flex-basis: 100%;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    display: block;
}

footer {
    margin-top: 4rem;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    margin: 10px 0;
}

#ddg {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#ddg .button,
#ddg input[type="search"] {
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #999 #999 #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

#ddg .button {
    margin-left: 5px;
}

blockquote {
    background-color: #fffff8;
    margin: 25px 0 35px;
    padding: 0.5em 10px;
    line-height: 1.5em;
}

blockquote p {
    display: inline;
}

sup {
    font-size: 10px;
    margin-left: 2px;
}

abbr[title]:after {
    content: " ("attr(title) ")";
}

abbr {
    text-decoration: none;
}

img {
    border: 1px solid #dddddd;
    border-radius: 3px;
    max-width: 100%;
    background-size: cover;
    box-shadow: 1px 1px 15px #bbb;
}

img+em {
    display: block;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
}

pre,
code {
    font-family: Consolas, 'DejaVu Sans Mono', monospace;
}

pre {
    margin: 25px 0 35px 1px;
    max-width: 100%;
    padding: 0 10px;
    overflow-x: auto;
    border-left: 1px solid #999999;
    background-color: #f8f8f8;
    line-height: 1.5em;
    font-size: 0.85em;
    white-space: pre-wrap;
}

p code {
    padding: 0 5px;
    border-radius: 3px;
    color: #444444;
    vertical-align: middle;
    border: 1px solid silver;
    font-size: 0.8em;
}

.hide {
    display: none;
}

.posts {
    margin: 25px 0;
}

.post {
    padding: 3px 0;
}

.post-body {
    margin-top: 40px;
}

.post-body-inner h2,
.post-body-inner h3 {
    font-weight: normal;
    margin-top: 50px;
}

.post-body-inner h4,
.post-body-inner h5 {
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 0;
}

.post-meta {
    font-size: 0.8em;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #cccccc;
}

.post-labels {
    margin-top: 10px;
}

.post-labels ul {
    display: inline;
    margin: 0;
    padding: 0 0 0 5px;
}

.post-labels ul li {
    display: inline-block;
    margin: 0 5px 0 0;
}

.post-labels ul li a {
    padding: 0 4px;
    text-decoration: none;
    color: royalblue;
    margin-right: 1px;
}

.post-nav {
    margin-top: 25px;
    display: flex;
    padding: 10px;
}

.post-children {
    font-size: 0.9em;
    font-style: italic;
    border-top: 1px solid #dfdfdf;
    padding: 5px 0;
    margin-top: 50px;
}

.post-children li {
    list-style-type: none;
}

.pagination {
    display: flex;
}

.pagination div a {
    padding: 20px 0;
}

.left {
    flex: 1;
}

.middle {
    flex: 1;
    text-align: center;
}

.right {
    flex: 1;
    text-align: right;
}

@media (min-width: 30.0rem) {
    body {
        width: 480px;
        line-height: 1.6rem;
    }

    .post-title {
        margin: 0 0 5px 0;
    }
}

@media (min-width: 40.0rem) {
    body {
        width: 640px;
    }

    header {
        text-align: left;
        display: block;
        background-color: transparent;
    }

    header ul {
        display: inline;
    }

    header ul li {
        display: inline;
        margin-right: 1rem;
    }

    header ul li a {
        display: initial;
        color: royalblue;
        text-decoration: none;
    }

    header div {
        color: #dd0c39;
        display: inline;
    }

    [id^=JSFEMB] {
        min-height: 200px;
        height: calc(100vh - 250px);
    }

    abbr[title]:after {
        content: "";
    }

    abbr {
        border-bottom: 1px dashed;
    }

    .post-nav {
        padding: 0;
    }

    .pagination div a {
        padding: 5px 0;
    }
}

@media (min-width: 50.0rem) {
    body {
        width: initial;
    }

    main,
    footer {
        border-top: 1px solid rgba(148, 148, 148, 0.12);
    }

    .post h1,
    .post h2,
    .post h3,
    p strong {
        font-weight: normal;
    }

    .post {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .post>div:first-child {
        flex: 0 1 100%;
    }

    .post-body {
        margin: 0;
        width: 1px;
        flex-basis: 75%
    }

    .post-meta {
        margin-top: 25px;
        font-size: 0.85em;
        flex-basis: 25%;
        padding: 0 0 0 35px;
        border-top: none;
    }

    .post-date {
        margin: 15px 0;
    }

    .post-labels {
        margin: 0;
    }

    .post-labels ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    .post-labels ul li {
        display: block;
        list-style-type: none;
    }

    .post-labels ul li a {
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    footer {
        text-align: center;
        display: block;
    }

    footer ul,
    footer ul li {
        display: inline;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer ul li {
        margin: 0;
    }

    footer ul li:not(:first-child)::before {
        margin: 0 10px;
        content: "|";
    }
}
